*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
 
}
.text h2{
  font-size: 32px;
  font-weight: bold;
  grid-template-columns: repeat();
    
}
input{
  padding: 4px  ;
  border-radius: 5px;
  border: 1px solid #6666;
  
}